body {
    background-color: #66b0ff;
}

header {
    padding-left: 4px;
    padding-right: 4px;
}

.navbar-light .navbar-brand {
    color: #66b0ff;
    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #3680cf;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: #66b0ff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

h1 {
    color: #66b0ff;
    font-weight: 600;
}

#main-content {
    padding-bottom: 150px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    background-color:#002a46;
    height: 150px;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    color: #ffffff;
}

/* large screen class - for example: desktop or laptop browser */
@media only screen and (max-width: 992px) and (min-width: 769px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

