body {
    background-color: #66b0ff;
}

.navbar-brand {
    color: #66b0ff;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

#contact-form {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    padding: 50px 20px;
    margin: 50px 30px;
    border: 1px solid white;
    border-radius: 20px;
    align-items: left;
    width: 57%;
    height: 70%;
}

footer {
    border-top: 2px solid #e6f2ff;
}