@import "common.css";

#about-me-main {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    font-size: 1em;
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
}

#about-me-heading {
    border-bottom: 3px solid #66b0ff;
    margin-bottom: 20px;
}

#about-me-paragraph img{
    margin: 10px;
    float: left;
}

#about-me-main p {
    margin-top: 20px;
}