#main-content {
    padding: 50px 20px;
    margin: 50px 30px;
    border: 5px solid black;
    align-items: left;
    width: 60%;
    height: 70%;
}

#about-me-heading {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

#about-me-paragraph img{
    float: left;
    margin: 10px;
}

footer {
    border-top: 5px solid teal;
}