@import "common.css";

#about-me-main {
    font-family: 'Quicksand', sans-serif;
    background-color: #EFE1CE;
    font-size: 1em;
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #EFE1CE;
    border-radius: 20px;
}

#about-me-heading {
    border-bottom: 3px solid  #E0B589;
    margin-bottom: 20px;
}

#about-me-paragraph img {
    margin: 10px;
    float: left;
}

#about-me-main p {
    margin-top: 20px;
}

a {
    color: #9A8B4F;
}