@import "common.css";

#portfolio-content {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    padding: 20px 0px;
    margin: 20px 0px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    max-width: 800px;
}

h1 {
    padding-left: 20px;
}

.row {
    flex-direction: column;
}

.col {
    margin-bottom: 10px;
}

.image-thumbnail {
    display: block;
    margin: 0px auto;
}

/* small screen class - for example: tablets */
@media only screen and (max-width: 768px) and (min-width: 401px) {
    #portfolio-content {
        padding: 20px;
        display: inline-block;
    }

    h1 {
        padding-left: 0px;
    }
}

/* large screen class - for example: desktop or laptop browser */
@media only screen and (max-width: 992px) and (min-width: 769px) {
    #portfolio-content {
        display: inline-block;
    }

    h1 {
        padding-left: 0px;
    }

    .col {
        margin-bottom: 20px;
    }

    .row {
        margin-left: 20px;
        margin-right: 20px;
    }

}

/* extra-large screen class - for example: desktop or laptop browser */
@media only screen and (min-width: 993px) {
    #portfolio-content {
        display: inline-block;
    }

    h1 {
        padding-left: 0px;
    }

    .col {
        margin-bottom: 20px;
    }

    .row {
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
    }
}